:root {
  --body-background: #6699ff;
  --calc-body-background: #333333;
  --calc-display-background: #cccccc;
  --calc-btn-background: #f2f2f2;
  --action-btn-color: #ff9922;
  --text-color: #000000;
}
