:root {
  --body-background: #6699ff;
  --calc-body-background: #333333;
  --calc-display-background: #cccccc;
  --calc-btn-background: #f2f2f2;
  --action-btn-color: #ff9922;
  --text-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  font-size: 24px;
}
.calc-display {
  padding: 12px 40px;
  background-color: var(--calc-display-background);
  border-radius: 8px;
}
.display-container {
  padding: 12px;
  background-color: #292020;
}
.main-container {
  background-color: var(--calc-body-background);
  /* border: 2px solid red; */
  border-radius: 12px;
}
.display-container,
.buttons-container {
  border-radius: 8px;
}
