/*=====Reset + colors var*/
:root {
  --body-background: #6699ff;
  --calc-body-background: #333333;
  --calc-display-background: #cccccc;
  --calc-btn-background: #f2f2f2;
  --action-btn-color: #ff9922;
  --text-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  cursor: pointer;
  border-radius: 8px;
}

.buttons-container {
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

.btn {
  font-size: 1.2rem;
  padding: 12px 20px;
}
.num-btn {
  background-color: var(--calc-btn-background);
  color: var(--text-color);
  border: 2px solid black;

  font-family: "Roboto", sans-serif;
  flex: 1;
  font-size: 2rem;
  padding: 12px 16px;
  transition: all 0.2s ease;
}
.num-btn:hover {
  background-color: hsla(0, 0%, 95%, 0.863);
  transform: scale(1.1);
}
.reset-btns {
  margin-top: 12px;
}
.delete-btn {
  border: none;
  background-color: #86bbd8;
  transition: all 0.2s ease;
}
.delete-btn:hover {
  background-color: hsla(220, 100%, 70%, 0.877);
  transform: scale(1.1);
}
.all-clear-btn {
  border: none;
  background-color: #e3b505;
  transition: all 0.2s ease;
}
.all-clear-btn:hover {
  background-color: hsla(48, 96%, 45%, 0.836);
  transform: scale(1.1);
}
.number-btns {
  width: 100%;
  /* border: 2px solid yellow; */
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#equality-operator:hover {
  background-color: #139a43;
  color: white;
}
#addition-operator:hover,
#subtraction-operator:hover,
#multiplication-operator:hover,
#divide-operator:hover {
  background-color: #4bb3fd;
  color: white;
}

.row {
  /* border: 2px solid blue; */
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  gap: 5px;
}

.calc-display {
  padding: 20px 40px;
  background-color: var(--calc-display-background);
  border-radius: 5px;
}
.display-container {
  padding: 20px;
  background-color: #292020;
}
.main-container {
  display: flex;
  flex-direction: column;

  background-color: var(--calc-body-background);
  /* border: 2px solid red; */
  border-radius: 12px;
}
.display-container,
.buttons-container {
  width: 350px;
  border-radius: 8px;
}
